.Controle {
  width: auto;
  margin: 20px auto;
  padding: 10px;
  background-color: rgb(233, 235, 223);
  border-top: 2px solid #aaa;
  display: flex;
  justify-content: space-between;
  align-items: center;
}